.footer{
    display: flex;
    align-items: center;
    height: 90px;
    background-color: #fff;
    width: 100%;
}

.footer_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.social_list{
    display: flex;
}

.social_list li{
    list-style: none;
    margin: 0 10px;
}

.head{
    font-size: 12px; 
    font-weight: bolder;
    color: #777e83;
    margin: 0px auto 5px auto;
}